<%- partial ('_partials/nav.ejs') %>

<div id="main-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Welcome Maggie’s Math Games</h1>
				<h3>Click the button to play any of the games! And HAVE FUN!!!!</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<a href="/games/subtraction" class="btn btn-default">Subtraction</a>
				<a href="/games/addition" class="btn btn-default">Addition</a>
				<a href="/games/true-false" class="btn btn-default">True or False</a>
				<a href="/games/timed-test" class="btn btn-default">Timed Test</a>
			</div>
		</div>
	</div>
</div>

<%- partial ('_partials/footer.ejs') %>
