$gray: #232323;
$pink: #F8276C;
$light-pink: #FFECF0;
$white: #fff;

$font-family: Lato, Helvetica, Arial, sans-serif;
$font-weight-base: 400;
$font-weight-light: 300;
$font-weight-bold: 700;
$line-height: 1.5;
$line-height-sm: $line-height*.75;
$line-height-sm: $line-height*1.25;

$font-size-default: 15px;

$font-size-jumbo: 128px;
$font-size-xl: 64px;
$font-size-lg: 32px;
$font-size-md: $font-size-default;

$btn-font-size: 15px;
$btn-font-size-lg: $font-size-default;

$spacing: 20px;
$spacing-sm: $spacing/2;
$spacing-xs: $spacing/4;
$spacing-lg: $spacing*2;
$spacing-xl: $spacing*4;


