<%- partial ('../_partials/nav.ejs', { GameName: "Subtraction"}) %>

<div id="main-wrapper">
	<div class="container">
		<div id="intro">
			<div class="row">
				<div class="col-sm-12">
					<h1>Yay! Let’s do some subtraction!</h1>
					<h3>You’ll be presented with 20 subtraction problems to solve. Just type the answer and the game will move on to the next question. Have fun!</h3>
					<h3>Press the button to begin.</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 offset-sm-4">
					<a href="#" class="btn btn-primary btn-block">Let's Begin</a>
				</div>
			</div>
		</div>

		<div id="game-wrapper">
			<div class="row">
				<div class="col-sm-12">
					
				</div>
			</div>
		</div>
	</div>
</div>

<%- partial ('../_partials/footer.ejs') %>