<%- partial ('../_partials/nav.ejs', { GameName: "Timed Test"}) %>

<div id="main-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h1>Yay! Let’s do some subtraction!</h1>
				<h3>You’ll be presented with 20 subtraction problems to solve. Just type the answer and the game will move on to the next question. Have fun!</h3>
				<h3>Press the button to begin.</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 text-center">
				<a href="#" class="btn btn-primary btn-block">Let's Begin</a>
			</div>
		</div>
	</div>
</div>