<!-- FOOTER -->
<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="game-progress">
					<span class="count">x</span>
					<span>of</span>
					<span class="total">y</span>
				</div>
				<div class="game-timer">
					<span>0:00</span>
				</div>
			</div>
		</div>
	</div>
</footer>