<!-- HEADER -->
<header>
	<div class="title">
		<h1>Maggie's Math Games
			<% if (typeof GameName != 'undefined') { %>
				<small><%= GameName %></small>
			<% } %>
		</h1>
	</div>
	<% if(typeof ShowMenu == 'undefined' || ShowMenu) { %>
		<div class="menu">
			<div class="hamburger hamburger--spin">
				<div class="hamburger-box">
					<div class="hamburger-inner"></div>
				</div>
			</div>
		</div>
	<% } %>
</header>

<script>
	var hamburger = document.querySelector(".hamburger");
	hamburger.addEventListener("click", function() {
		hamburger.classList.toggle("is-active");
	});
</script>